body {
    background-color: #585858;
    margin: 0;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
}

.navBar {
    display: flex;
    align-items: top;
    justify-content: space-between;
    padding: 10px;
    overflow: hidden;
}

.pagesBar {
    width: 25%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pagesBar li {
    float: left;
}

.pagesBar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 12px;
}

.pagesBar a:hover {
    background-color: #111;
    box-shadow: 0px 0px 15px #111;
}

.pagesBar a:active {
    background-color: #cc0303;
    box-shadow: 0px 0px 15px #cc0303;
}

.navBar .logoConteiner {
    display: flex;
    width: 25%;
    justify-content: center;
}

.logoConteiner .image {
    height: 70px;
    transition: transform 0.3s ease;
}

.navBar .image:hover {
    transform: scale(1.05);
}

/*.searchBarConteiner {
width: 25%;
}

.searchBar {
float: right;
}*/

.singBarConteiner {
    width: 25%;
    display: relative;
}

.singBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}

.singBar a {
    color: white;
    text-decoration: none;
}

.singBar li {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    border-radius: 12px;
}

.singInBar {
    color: white;

}

.singBar li:hover {
    background-color: #111;
    box-shadow: 0px 0px 15px #111;
}

.singBar li:active {
    background-color: #cc0303;
    box-shadow: 0px 0px 15px #cc0303;
}

.dropdownConteiner {
    display: absolute;
    color: white;
    border-radius: 0% 0% 12px 12px;
    background-color: rgb(0, 183, 255);
}

.dropdownConteiner .image {
    height: 35px;
    float: left;
    margin: 0px;
    padding: 0px;
}

.dropdownContentUser {
    flex: right;
    padding: 0px;
    margin: 10px 0px 5px 0px;
}

.dropdownContentPass {
    flex: right;
    padding: 0px;
    margin: 5px 0px 10px 0px;
}

